body {
    background: url("https://matteognaturfagsbloggen.files.wordpress.com/2016/06/shutterstock_algebra_marina-sun.jpg") no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

.selectModeContainer {
    margin-top: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
}

#selectMode {
    background-color: darkslategray; /* Green */
    border: inherit;
    color: white;
    padding: 10px 26px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.inputContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

#inputFrom {
    padding: 5px 19px;
    font-size: 20px;
}

#inputTo {
    padding: 5px 19px;
    font-size: 20px;
    margin-left: 10px;
}

#selectTemperatureContainer {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
}

#selectFromTemperature {
    padding: 5px 19px;
    background-color: darkred;
    border: inherit;
    color: white;
    padding: 10px 26px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

#selectToTemperature {
    padding: 5px 19px;
    margin-left: 10px;
    background-color: darkred;
    border: inherit;
    color: white;
    padding: 10px 26px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}
#selectLengthContainer {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
}

#selectFromLength {
    padding: 5px 19px;
    background-color: darkred;
    border: inherit;
    color: white;
    padding: 10px 26px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

#selectToLength {
    padding: 5px 19px;
    margin-left: 10px;
    background-color: darkred;
    border: inherit;
    color: white;
    padding: 10px 26px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}
#selectWeightContainer {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
}

#selectFromWeight {
    padding: 5px 19px;
    background-color: darkred;
    border: inherit;
    color: white;
    padding: 10px 26px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

#selectToWeight {
    padding: 5px 19px;
    margin-left: 10px;
    background-color: darkred;
    border: inherit;
    color: white;
    padding: 10px 26px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}
#buttonW {
    margin-top: 20px;
    background-color: dimgray;
    border: inherit;
    color: white;
    padding: 10px 26px;
}
#buttonL {
    margin-top: 20px;
    background-color: dimgray;
    border: inherit;
    color: white;
    padding: 10px 26px;
}
#buttonT {
    margin-top: 20px;
    background-color: dimgray;
    border: inherit;
    color: white;
    padding: 10px 26px;
}
#buttonTemperature {
    display: flex;
    width: 100%;
    justify-content: center;
}
#buttonLength {
    display: flex;
    width: 100%;
    justify-content: center;
}
#buttonWeight {
    display: flex;
    width: 100%;
    justify-content: center;
}